<div class="container-fluid">
  <div class="jumbotron" style='margin: 10px;'>
    <blockquote class="blockquote display-3 text-center">
      <p class="mb-0">Is that a sandwich?</p>
      <footer class="blockquote-footer">Someone at Launch</footer>
    </blockquote>
  </div>

  <div id="app"></div>
<%= javascript_pack_tag 'application.js' %>
</div>
