@import url('https://fonts.googleapis.com/css?family=Bungee|Pacifico|Open+Sans|Roboto:300i,400');
@import 'bootstrap';

.lunch-brand {
  font-family: 'Pacifico', cursive;
  font-size: 35px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FDFDFD;
}

.sandwich-tile {
  max-height: 300px;
  max-width: 300px;
}
