

<div className="sandwich-tile">
  <h3>Philly Cheese Steak</h3>
  <div className="tile-content">
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpoEe_jQXPU476T9W508tn3AkrDX6UGPcarbwanILzUbvCv3Y_vg' />
    <p className="description">Steak 'n Cheese</p>
  </div>
</div>

<br>
<h3>new sandwich form</h3><br>

<form class="field">
  Sandwich Name:
  <input type="text" name="Sandwich Name"><br><br>
  <input type="submit" value="Submit">
</form>


<p className="danger"> Error Message! </p>


<div className="review-tile">
  <h3>Review</h3>
  <div className="tile-content">
    <p> ★★★★☆ </p>
    <p>▲</p>
    <p>1</p>
    <p>▼</p>
    <p className="review-body">Pretty good</p>
  </div>
</div>
